* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}

header h1 {
    text-align: center;
    padding: 16px;
}

form input {
    text-align: center;
}

form input,
form button {
    display: block;
    width: 320px;
    margin: 0 auto;
    margin-top: 8px;
    padding: 8px 0;
}

button {
    background-color: cadetblue;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

label.error {
    color: red;
    border: 1px solid darkred;
    background-color: pink;
    padding: 5px;
    margin-top: 5px;
    text-align: center;
    display: block;
    width: 220px;
    font-size: 12px;
}
